.App {
  /* text-align: left; */
  /* margin-left: 30px; */
  margin: 30px auto;
  color: #212529;
  font-family: sans-serif;
  max-width: 600px;
}

.App a {
  color: #61dafb;
}

.App footer {
  font-size: 12px;
  text-align: left;
  line-height: 15px;
  margin: 0;
  padding: 0;
}
